# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\doing\数据库系统\ht_sql\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
